@model IQueryable<Data.Models.Fiverate>
@{
    ViewData["Title"] = "مفضلتي";
    //Layout = "~/Views/Shared/_EndUser_Profile_Layout.cshtml";
    Layout = "~/Views/Shared/_EndUser_Profile_Layout.cshtml";
}
@section css{ 
    <link href="~/css/crowdfunding.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-md-12">
        <h4>@ViewBag.Title</h4>
        @if (!Model.Any())
        {
            <div class="text-center">
                <h3 class="mb-2">@Resource.NoFiverate</h3>
                <p>@Resource.YouCanWatchAndAddToFiverate</p>
                <a href="~/Search/Index" class="button button-circle button-small">@Resource.DiscoverNow</a>
            </div>
        }
    <div class="row">
        @foreach (var item in Model)
        {
            var unit = item.Unit;
            var image = Url.Content("~/images/noimg.jpg");
            if (unit.UnitImages.Count > 0)
            {
                var uitImage = unit.UnitImages.OrderByDescending(c => c.IsPrimary).FirstOrDefault();
                image = Url.Content("~/" + uitImage.File.FileContentMin);
            }
            


            <div class="real-estate-item portfolio-item col-12 col-md-6 col-lg-4">
                <div class="real-estate-item-image">
                    <div class="label badge badge-danger bg-color2" style="background-color:rgb(0 0 0 / 52%) !important">
                        @unit.Views <i class="icon-eye"></i>
                    </div>
                    <a href="#">
                        <img src="@image" class="w-100" alt="Image 1">
                    </a>
                    <div class="real-estate-item-price" style="direction:rtl">
                        @unit.DayPrice @Resource.Currency<span>@Resource.PricePerNight</span>
                    </div>
                    <div class="real-estate-item-info clearfix" data-lightbox="gallery">
                        <a href="#" data-toggle="tooltip" title="Like">
                            <i class="icon-star3 text-warning"></i> 24
                        </a>
                        <a href="#" data-toggle="tooltip" title="Images" data-lightbox="gallery-item">
                            @Resource.UnitCode (@unit.Code)
                        </a>

                    </div>
                </div>

                <div class="real-estate-item-desc p-0">
                    <h3>
                        <a href="@Url.Action("Index","Unit",new {id=unit.Id,DateFrom=DateTime.Now,DateTo=DateTime.Now })">
                            @unit.Name
                            @*@if (Model.Units.Count(c => c.OriginId == unit.Id) > 0)
                            {
                                <span>(@unit.Number)</span>
                            }
                            @if (unit.IsSimilar)
                            {
                                <span>(@unit.Number)</span>
                            }*@
                        </a>
                    </h3>
                    <span><i class="icon-location"></i> @unit.Chalet.City.CityName, @unit.Chalet.Neighborhood</span>

                    @*<div class="line" style="margin-top: 15px; margin-bottom: 15px;"></div>

                    <div class="real-estate-item-features row font-weight-medium font-primary px-3 clearfix">
                         <div class="col-lg-4 col-6 p-0">Beds: <span class="color">3</span></div>
                         <div class="col-lg-4 col-6 p-0">Baths: <span class="color">3</span></div>
                         <div class="col-lg-4 col-6 p-0">Area: <span class="color">150 sqm</span></div>
                         <div class="col-lg-4 col-6 p-0">Pool: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                         <div class="col-lg-4 col-6 p-0">Internet: <span class="text-success"><i class="icon-check-sign"></i></span></div>
                         <div class="col-lg-4 col-6 p-0">Cleaning: <span class="text-danger"><i class="icon-minus-sign-alt"></i></span></div>
                     </div>*@
                </div>
            </div>

        }
    </div>
    </div>
    </div>

@section scripts
{
    <script>
        $(function () {
            $('.datepicker').datepicker({
                autoclose: true,
                startDate: "today",
                todayHighlight: true,
                format: "mm/dd/yyyy",
            });
        });

        $("#fiverates").addClass("active");
    </script>
}


