@{
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
    ViewBag.Title = "دخول/تسجيل";
}
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap py-0">

        <div class="section p-0 m-0 h-100 position-absolute" style="background: url('@Url.Content("~/website/images/login-bg.jpg")') center center no-repeat; background-size: cover;"></div>

        <div class="section bg-transparent min-vh-100 p-0 m-0">
            <div class="vertical-middle">
                <div class="container-fluid py-5 mx-auto">
                    <div class="center mb-4">
                        <a href="~/Home"><img src="~/website/images/logo.png" alt="Truista Logo"></a>
                    </div>

                    <div class="card mx-auto rounded-0 border-0" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                        <div class="card-body" style="padding: 40px;">
                            <form id="login-form" name="login-form" class="mb-0" asp-action="Join" method="post">
                                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                                <h3>تسجيل دخول</h3>
                                <h5>أدخل رقم الجوال لإنشاء حساب أو تسجيل الدخول</h5>
                                <div class="row">
                                    @if ((bool)ViewBag.CodeSent)
                                    {
                                        <p class="alert alert-warning">user @ViewBag.Code to confirm your account, just for testing</p>
                                        
                                        <div class="col-12 form-group">
                                            @if (!(bool)ViewBag.IsExist)
                                            {
                                                <label>سيتم إرسال رسالة الكود على الرقم (@ViewBag.MobileNo)</label>
                                            }
                                            <label for="login-form-username">ادخل الرمز المرسل هنا</label>
                                            <input type="number" id="code" name="code" placeholder="123-456" class="form-control not-dark" />
                                            <input type="hidden" name="mobileno" id="mobileno" value="@ViewBag.MobileNo" />
                                            <input type="hidden" name="confirm" value="true" />
                                        </div>
                                        @if ((bool)ViewBag.IsExist)
                                        {
                                            <div class="col-12 form-group">
                                                <button class="button button-3d button-primary m-0 w-100" id="login-form-submit" name="login-form-submit" value="login">دخول</button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-12 form-group">
                                                <button class="button button-3d button-primary m-0 w-100" id="login-form-submit" name="login-form-submit" value="login">التسجيل</button>
                                            </div>
                                        }
                                    }
                                    else
                                    {

                                        <div class="col-12 form-group">
                                            <label for="login-form-username">أدخل رقم جوالك</label>
                                            <input type="text" id="phone" value="" class="form-control not-dark" />
                                            <input type="hidden" name="mobileno" id="mobileno" />
                                        </div>
                                        <div class="col-12 form-group">
                                            <button class="button button-3d button-primary m-0 w-100" id="login-form-submit" name="login-form-submit" value="login">دخول / تسجيل</button>
                                        </div>

                                    }
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="text-center dark mt-3"><small>@Domain.Setting.Get(Context, "Copyrights")</small></div>
                </div>
            </div>
        </div>

    </div>
</section><!-- #content end -->
@section scripts{

    <script src="~/js/PhoneNumberTemp/intlTelInput.js"></script>
    <script>
        var input = document.querySelector("#phone");
            window.intlTelInput(input, {
                hiddenInput: "mobileno",
                utilsScript: "@Url.Content("~/js/PhoneNumberTemp/utils.js?1613236686837")" // just for formatting/placeholders etc
            });
    </script>
}

