@{
    ViewData["Title"] = @Resource.BankManagement;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h4>@Resource.BankManagement</h4>
<a href="@Url.Action("Bank")" class="btn btn-success btn-sm"><i class="icon-plus"></i> @Resource.AddNew</a>

<div class="table-responsive mt-2">
    <table id="datatable1" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>@Resource.Image</th>
                <th>@Resource.BankName</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>@Resource.Image</th>
                <th>@Resource.BankName</th>
                <th></th>
            </tr>
        </tfoot>
        <tbody></tbody>
    </table>
</div>
@section scripts
{
    <script>
        updateMenu("banks");
        $('#datatable1').dataTable({
            "ajax": '@Url.Action("GetData")',
            language: lang,
            length: true,
            serverSide: true,
            retrieve: true,
            dom: 'Bfrtip',
            columns: [
                {
                    "data": "imageUrl",
                    "render": function(data, type, full, meta) {
                        return `<img alt="@Resource.Image" src="${data}" style="width: 50px;height: 50px" class="img-thumbnail mb-2">`;
                    }
                },
                {
                    "data": "name",
                    "render": function(data, type, full, meta) {
                        if (data) {

                            return data;
                        } else {
                            return `--`;
                        }
                    }
                },
                {
                    "data": "id",
                    "className": "text-center w-25",
                    "render": function(data, type, full, meta) {
                        console.log(full);
                        return `<a href="@Url.Action("Bank")/${full.id}" class="btn btn-success btn-sm"><i class="icon-edit"></i> @Resource.Edit</a>
                                    <a href="@Url.Action("RemoveBank")/${full.id}" class="btn btn-danger btn-sm"><i class="icon-trash"></i> @Resource.Delete</a>`;
                    }
                }
            ]
        });
    </script>
}