@{
    Layout = null;
    var cities = (List<City>)ViewBag.Cities;
}
<!DOCTYPE html>
<html dir="@HttpContextAccessor.HttpContext.Session.GetString("LanguageDirection")" lang="ar-EG">
<partial name="_head_website" />

<body class="stretched side-push-panel">

    <link rel="stylesheet" href="~/css/components/datepicker.css" type="text/css" />
    <style>
        .owl-carousel .owl-item img {
            transform-style: preserve-3d;
            border-radius: 40px 40px !important;
        }

        .real-estate-item-image::before {
            border-radius: 30px !important;
        }
    </style>
    <div id="wrapper" class="clearfix">

        <!-- Top Bar
        ============================================= -->
        <div id="top-bar" class="transparent-topbar border-bottom-0">
            <div class="container clearfix">

                <div class="row justify-content-between">
                    <div class="col-12 col-md-auto">

                    </div>

                    <div class="col-12 col-md-auto">

                        <!-- Top Links
                        ============================================= -->
                        <div class="top-links">
                            <ul class="top-links-container">
                                @if (SessionClass.IsAuthentecated(HttpContextAccessor.HttpContext))
                                {
                                    if (SessionClass.GetUser(HttpContextAccessor.HttpContext).UserType == (int)Enums.UserType.BookAdmin)
                                    {
                                        <li class="top-links-item top-bar-highlight">
                                            <a>@SessionClass.GetUser(HttpContextAccessor.HttpContext).FirstName @SessionClass.GetUser(HttpContextAccessor.HttpContext).LastName</a>
                                            <div class="top-links-section" style="font-size: 14px;">
                                                <a class="more-link font-secondary d-block mb-2" style="border-bottom-style: dotted;" href="~/Useraccount">@Resource.Profile</a>
                                                <a class="more-link font-secondary d-block mb-2" style="border-bottom-style: dotted;" href="~/UserAccount/Chalets">@Resource.MyProperties</a>
                                                <a class="more-link font-secondary d-block mb-2" style="border-bottom-style: dotted;" href="~/Accounting">@Resource.Accounting</a>
                                                <a class="more-link font-secondary d-block mb-2" style="border-bottom-style: dotted;" href="~/User/Profile">@Resource.Reports</a>
                                                <a href="~/Accounts/Logout" class="more-link font-secondary d-block" style="border-bottom-style: dotted;">@Resource.Logout</a>
                                            </div>
                                        </li>

                                        <li class="top-links-item d-md-none d-lg-block"><a href="~/UserAccount/Chalets"><i class="icon-building"></i> @Resource.MyProperties</a></li>
                                        <li class="top-links-item text-muted"><a href="~/Accounting"><i class="icon-heart1"></i> @Resource.Accounting</a></li>

                                    }
                                    else if (SessionClass.GetUser(HttpContextAccessor.HttpContext).UserType == (int)Enums.UserType.EndUser)
                                    {
                                        <li class="top-links-item top-bar-highlight">
                                            <a>@SessionClass.GetUser(HttpContextAccessor.HttpContext).FirstName @SessionClass.GetUser(HttpContextAccessor.HttpContext).LastName</a>
                                            <div class="top-links-section" style="font-size: 14px;">
                                                <a class="more-link font-secondary d-block mb-2" style="border-bottom-style: dotted;" href="~/User/Profile">@Resource.Profile</a>
                                                <a href="~/Accounts/Logout" class="more-link font-secondary d-block" style="border-bottom-style: dotted;">@Resource.Logout</a>
                                            </div>
                                        </li>

                                        <li class="top-links-item d-md-none d-lg-block"><a href="~/User/Reservations"><i class="icon-calendar-check"></i> @Resource.MyReservations</a></li>
                                        <li class="top-links-item text-muted"><a href="~/User/Fiverates"><i class="icon-heart1"></i> @Resource.MyFiverates</a></li>
                                    }
                                }
                                else
                                {
                                    <li class="top-links-item top-bar-highlight">
                                        <a>اضف عقارك مع تروسيتا</a>
                                        <div class="top-links-section" style="font-size: 14px;">
                                            إستقبل الحجوزات و رحب بالضيوف <a href="~/Accounts/Login" class="more-link font-secondary" style="border-bottom-style: dotted;">سجل عقارك الآن &rarr;</a>
                                        </div>
                                    </li>
                                    <li class="top-links-item"><a href="~/User/Join">@Resource.LoginRegister</a></li>
                                }
                            </ul>
                        </div><!-- .top-links end -->

                    </div>
                </div>

            </div>
        </div><!-- #top-bar end -->
        <!-- Header
        ============================================= -->
        <header id="header" class="transparent-header dark header-size-md" data-sticky-shrink="false">
            <div id="header-wrap">
                <div class="container">
                    <div class="header-row">

                        <!-- Logo
                        ============================================= -->
                        <div id="logo">
                            <a href="~/Home" data-dark-logo="@Url.Content("~/website/images/logo.png")" class="standard-logo"><img src="~/website/images/logo.png" alt="Trusita Logo"></a>
                            <a href="~/Home" data-dark-logo="@Url.Content("~/website/images/logo@2x.png")" class="retina-logo"><img src="~/website/images/logo@2x.png" alt="Trusita Logo"></a>
                        </div><!-- #logo end -->

                        <div id="primary-menu-trigger">
                            <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                        </div>

                        <!-- Primary Navigation
                        ============================================= -->
                        <nav class="primary-menu with-arrows ml-5">

                            <ul class="menu-container">
                                <li class="menu-item current"><a class="menu-link" href="~/Home/Index"><div>@Resource.Home</div></a></li>
                                <li class="menu-item"><a class="menu-link" href="~/Unit/Units?type=@((int)Enums.PropertyType.Resort)"><div>@Resource.Chalets</div></a></li>
                                <li class="menu-item"><a class="menu-link" href="~/Unit/Units?type=@((int)Enums.PropertyType.Reset)"><div>@Resource.Resets</div></a></li>
                                <li class="menu-item"><a class="menu-link" href="~/Unit/Units?type=@((int)Enums.PropertyType.Villa)"><div>@Resource.Vills</div></a></li>
                                <li class="menu-item"><a class="menu-link" href="~/Unit/Units?type=@((int)Enums.PropertyType.MainResort)"><div>@Resource.Offers</div></a></li>
                            </ul>

                        </nav><!-- #primary-menu end -->

                    </div>
                </div>
            </div>
            <div class="header-wrap-clone"></div>
        </header><!-- #header end -->
        <!-- Slider
        ============================================= -->
        <section id="slider" class="slider-element min-vh-60 min-vh-md-100 dark include-header include-topbar">
            <div class="slider-inner">

                <div class="fslider h-100 position-absolute" data-speed="3000" data-pause="7500" data-animation="fade" data-arrows="false" data-pagi="false" style="background-color: #333;">
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide" style="background: url('@Url.Content("~/website/images/hero/3.jpg")') center center; background-size: cover;"></div>
                            <div class="slide" style="background: url('@Url.Content("~/website/images/hero/4.jpg")') center center; background-size: cover;"></div>
                            <div class="slide" style="background: url('@Url.Content("~/website/images/hero/5.jpg")') center center; background-size: cover;"></div>
                        </div>
                    </div>
                </div>

                <div class="vertical-middle">
                    <div class="container text-center">
                        <div class="emphasis-title m-0">
                            <h1>@Resource.SearchFor</h1>
                            <span class="font-weight-light text-uppercase" style="font-size: 20px; color: rgba(255,255,255,0.9);">@Resource.SearchForChaletsRestOther</span>
                        </div>
                    </div>
                </div>

                <div class="video-wrap">
                    <div class="video-overlay real-estate-video-overlay"></div>
                </div>

            </div>
        </section><!-- #slider end -->

        <div class="tabs advanced-real-estate-tabs clearfix">

            <div class="container clearfix">
                <ul class="tab-nav clearfix">
                    <li><a href="#tab-properties" data-scrollto="#tab-properties" data-offset="133">ابحث عن العقارات</a></li>
                </ul>
            </div>

            <div class="tab-container">
                <div class="container clearfix">
                    <div class="tab-content clearfix" id="tab-properties">
                        <form asp-action="Index" asp-controller="Search" method="get" class="mb-0 was-validated">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-12 bottommargin-sm">
                                    <label for="">@Resource.City</label>
                                    <select name="Cities" id="city" required="" class="selectpicker form-control" multiple data-live-search="true" data-size="6" style="width:100%;">
                                        <option value="@Guid.Empty">@Resource.SeeAll</option>
                                        @foreach (var item in cities)
                                        {
                                            <option value="@item.Id">@item.CityName</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-6 col-12 bottommargin-sm">
                                    <label for="">@Resource.PropertyType</label>
                                    <select name="ProprtyType" id="propType" required="" class="selectpicker form-control" multiple data-size="6" style="width:100%; line-height: 30px;">
                                        <option value="@((int)Enums.PropertyType.All)">@Resource.SeeAll</option>
                                        <option value="@((int)Enums.PropertyType.Resort)">@Resource.Chalets</option>
                                        <option value="@((int)Enums.PropertyType.Reset)">@Resource.Break</option>
                                        <option value="@((int)Enums.PropertyType.Villa)">@Resource.Villa</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-6 col-12 bottommargin-sm">
                                    <label for="">@Resource.Date</label>
                                    <input type="text" name="Date" required="" class="form-control daterange" />
                                </div>
                                <div class="col-lg-2 col-md-12 clearfix">
                                    <button class="button button-3d button-rounded btn-block m-0" style="margin-top: 35px !important;"><i class="icon-search"></i>@Resource.Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <!-- Content
        ============================================= -->
        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">
                    <div class="promo promo-dark bg-color mb-5 p-4">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg">
                                <h3 class="font-weight-normal ls1">إستقبل الحجوزات و رحب بالضيوف</h3>
                            </div>
                            <div class="col-12 col-lg-auto mt-4 mt-lg-0">
                                <a href="~/Accounts/Login" class="button button-dark button-large button-rounded m-0">اضف عقارك الآن مع تروسيتا</a>
                            </div>
                        </div>
                    </div>


                    <div style="position: relative;">
                        <div class="heading-block border-bottom-0 mb-3">
                            <h3>@Resource.cities</h3>
                        </div>


                        <div class="real-estate owl-carousel image-carousel carousel-widget bottommargin-lg" style="direction:ltr" data-margin="10" data-nav="true" data-loop="true" data-pagi="false" data-items-xs="1" data-items-sm="1" data-items-md="2" data-items-lg="3" data-items-xl="3">
                            @foreach (var city in cities)
                            {
                                <div class="oc-item">
                                    <div class="real-estate-item text-left">
                                        <div class="real-estate-item-image">
                                            <a href="~/Unit/Units?city=@city.Id">
                                                <img src="@city.ImageUrl" style="height:290px" alt="Image 1">
                                            </a>
                                            <div class="real-estate-item-price">
                                                @city.CityName
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row real-estate-properties clearfix">
                        <div class="heading-block border-bottom-0 col-12 mb-3">
                            <h3>@Resource.SearchByType</h3>
                        </div>
                        <div class="col-lg-7">
                            <a href="#" style="background: url('@Url.Content("~/website/images/cities/4.jpg")') no-repeat bottom center; background-size: cover;">
                                <div class="vertical-middle dark center">
                                    <div class="heading-block m-0 border-0">
                                        <h3 class="text-capitalize font-weight-medium">California</h3>
                                        <span style="margin-top: 5px; font-size: 17px;">23 Properties</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-5">
                            <a href="#" style="background: url('@Url.Content("~/website/images/cities/2.jpg")') no-repeat center center; background-size: cover;">
                                <div class="vertical-middle dark center">
                                    <div class="heading-block m-0 border-0">
                                        <h3 class="text-capitalize font-weight-medium">New York</h3>
                                        <span style="margin-top: 5px; font-size: 17px;">12 Properties</span>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4">
                            <a href="#" style="background: url('@Url.Content("~/website/images/cities/3.jpg")') no-repeat center center; background-size: cover;">
                                <div class="vertical-middle dark center">
                                    <div class="heading-block m-0 border-0">
                                        <h3 class="text-capitalize font-weight-medium">San Francisco</h3>
                                        <span style="margin-top: 5px; font-size: 17px;">8 Properties</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="#" style="background: url('@Url.Content("~/website/images/cities/1.jpg")') no-repeat center center; background-size: cover;">
                                <div class="vertical-middle dark center">
                                    <div class="heading-block m-0 border-0">
                                        <h3 class="text-capitalize font-weight-medium">Texas</h3>
                                        <span style="margin-top: 5px; font-size: 17px;">31 Properties</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="#" style="background: url('@Url.Content("~/website/images/cities/5.jpg")') no-repeat center center; background-size: cover;">
                                <div class="vertical-middle dark center">
                                    <div class="heading-block m-0 border-0">
                                        <h3 class="text-capitalize font-weight-medium">New Orleans</h3>
                                        <span style="margin-top: 5px; font-size: 17px;">19 Properties</span>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>



                    <div class="row col-mb-50 my-5">
                        <div class="heading-block border-bottom-0 col-12 mb-0">
                            <h3>ماذا نوفر لك؟</h3>
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box fbox-effect">
                                <div class="fbox-icon">
                                    <a><i class="i-circled i-light icon-percentage"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3 class="font-weight-normal">حجز مؤكد ومضمون</h3>
                                    <p>حجزك مضمون بنسبة ١٠٠٪.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box fbox-effect">
                                <div class="fbox-icon">
                                    <a><i class="i-circled i-light icon-dollar-sign"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3 class="font-weight-normal">طرق دفع آمنة</h3>
                                    <p>وسائل دفع متعددة وامنة.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box fbox-effect">
                                <div class="fbox-icon">
                                    <a><i class="i-circled i-light icon-call"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3 class="font-weight-normal">خدمة عملاء</h3>
                                    <p>ندعمك على مدار الاسبوع.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box fbox-effect">
                                <div class="fbox-icon">
                                    <a><i class="i-circled i-light icon-bars1"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3 class="font-weight-normal">تقييمات موثوقة</h3>
                                    <p>تقييمات وتعليقات مصدقة.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box fbox-effect">
                                <div class="fbox-icon">
                                    <a><i class="i-circled i-light icon-search"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3 class="font-weight-normal">بحث متقدم وذكى</h3>
                                    <p>كل انواع البحث بين يديك.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="feature-box fbox-effect">
                                <div class="fbox-icon">
                                    <a><i class="i-circled i-light icon-reload"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3 class="font-weight-normal">صور بانورامية</h3>
                                    <p>شاهد من مكانك صور تحاكي الواقع.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- #content end -->
        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">
            <div class="container">
                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap">

                    <div class="row col-mb-50">
                        <div class="col-lg-5 order-last order-lg-first">

                            <div class="widget clearfix">

                                <img src="~/website/Images/logo@2x.png" style="position: relative; opacity: 0.85; left: -10px; max-height: 80px; margin-bottom: 20px;" alt="Footer Logo">

                                <!--<p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards with a Retina &amp; Responsive Approach. Browse the amazing Features this template offers.</p>-->

                                <div class="line" style="margin: 30px 0;"></div>

                                <p class="ls1 font-weight-light" style="opacity: 0.6; font-size: 13px;">جميع الحقوق محفوظة &copy; 2021 - 2022 تروسيتا</p>

                            </div>

                        </div>

                        <div class="col-lg-7">

                            <div class="row col-mb-50">
                                <div class="col-md-6">
                                    <h4 class="ls1 font-weight-normal text-uppercase">روابط سريعة</h4>

                                    <div class="row">
                                        <div class="col-6 bottommargin-sm widget_links widget_real_estate_popular">
                                            <ul>
                                                <li><a href="#">الرئيسية</a></li>
                                                <li><a href="#">الاسئلة المتكررة</a></li>
                                                <li><a href="#">اتصل بنا</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-6 bottommargin-sm widget_links widget_real_estate_popular">
                                            <ul>
                                                <li><a href="#">العروض</a></li>
                                                <li><a href="#">شروط الإستخدام</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <h4 class="ls1 font-weight-normal text-uppercase">تروسيتا على السوشيال ميديا</h4>

                                    <div class="bottommargin-sm clearfix">
                                        <a href="#" class="social-icon si-colored si-small si-rounded si-facebook" title="Facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>

                                        <a href="#" class="social-icon si-colored si-small si-rounded si-twitter" title="Twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>

                                        <a href="#" class="social-icon si-colored si-small si-rounded si-instagram" title="Instagram">
                                            <i class="icon-instagram"></i>
                                            <i class="icon-instagram"></i>
                                        </a>


                                        <a href="#" class="social-icon si-colored si-small si-rounded si-android" title="Play Store">
                                            <i class="icon-android"></i>
                                            <i class="icon-android"></i>
                                        </a>

                                        <a href="#" class="social-icon si-colored si-small si-rounded si-skype" title="Skype">
                                            <i class="icon-skype"></i>
                                            <i class="icon-skype"></i>
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- .footer-widgets-wrap end -->
            </div>
        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- JavaScripts
    ============================================= -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/plugins.min.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script src="~/js/functions.js"></script>
    <script src="~/js/components/bs-select.js"></script>
    <script src="~/js/components/moment.js"></script>
    <script src="~/js/components/daterangepicker-ar.js"></script>
    <script>
        jQuery(document).ready(function () {
            // .daterange1
            $(".daterange").daterangepicker({
                "buttonClasses": "button button-rounded button-mini m-0",
                "applyClass": "button-color",
                "cancelClass": "button-light",
                locale: {
                    format: 'DD/MM/YYYY'
                }
            });

            $('#city').on('change', function () {
                var thisObj = $(this);
                var isAllSelected = thisObj.find('option[value="@Guid.Empty"]').prop('selected');
                var lastAllSelected = $(this).data('all');
                var selectedOptions = (thisObj.val()) ? thisObj.val() : [];
                var allOptionsLength = thisObj.find('option[value!="@Guid.Empty"]').length;

                console.log(selectedOptions);
                var selectedOptionsLength = selectedOptions.length;

                if (isAllSelected == lastAllSelected) {

                    if ($.inArray("@Guid.Empty", selectedOptions) >= 0) {
                        selectedOptionsLength -= 1;
                    }

                    if (allOptionsLength <= selectedOptionsLength) {

                        thisObj.find('option[value="@Guid.Empty"]').prop('selected', true).parent().selectpicker('refresh');
                        isAllSelected = true;
                    } else {
                        thisObj.find('option[value="@Guid.Empty"]').prop('selected', false).parent().selectpicker('refresh');
                        isAllSelected = false;
                    }

                } else {
                    thisObj.find('option').prop('selected', isAllSelected).parent().selectpicker('refresh');
                }

                $(this).data('all', isAllSelected);
            }).trigger('change');
            $('#propType').on('change', function () {
                var thisObj = $(this);
                var isAllSelected = thisObj.find('option[value="@((int)Enums.PropertyType.All)"]').prop('selected');
                var lastAllSelected = $(this).data('all');
                var selectedOptions = (thisObj.val()) ? thisObj.val() : [];
                var allOptionsLength = thisObj.find('option[value!="@((int)Enums.PropertyType.All)"]').length;

                console.log(selectedOptions);
                var selectedOptionsLength = selectedOptions.length;

                if (isAllSelected == lastAllSelected) {

                    if ($.inArray("@((int)Enums.PropertyType.All)", selectedOptions) >= 0) {
                        selectedOptionsLength -= 1;
                    }

                    if (allOptionsLength <= selectedOptionsLength) {

                        thisObj.find('option[value="@((int)Enums.PropertyType.All)"]').prop('selected', true).parent().selectpicker('refresh');
                        isAllSelected = true;
                    } else {
                        thisObj.find('option[value="@((int)Enums.PropertyType.All)"]').prop('selected', false).parent().selectpicker('refresh');
                        isAllSelected = false;
                    }

                } else {
                    thisObj.find('option').prop('selected', isAllSelected).parent().selectpicker('refresh');
                }

                $(this).data('all', isAllSelected);
            }).trigger('change');
        });
    </script>

</body>
</html>