@model UnitViewModel
@{
    var isReadonly = "";
    var isHidden = "";
    if (Model.Unit.HaveSimilar)
    {
        isReadonly = "readonly";
        isHidden = "hidden";
    }
}

<input type="hidden" asp-for="@Model.Unit.Order" class="form-control" />
<input type="hidden" asp-for="@Model.Unit.CreatedDate" class="form-control" />
<input type="hidden" asp-for="ChaletId" class="form-control" />
<input type="hidden" asp-for="@Model.Unit.Id" value="@Model.Unit.Id" class="form-control" />
<input type="hidden" class="form-check-input" asp-for="@Model.Unit.IsDeleted" />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="@Model.Unit.Name" class="control-label"></label>
        <input asp-for="@Model.Unit.Name" class="form-control" required="" />
        <span asp-validation-for="@Model.Unit.Name" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="@Model.Unit.Code" class="control-label"></label>
        <input asp-for="@Model.Unit.Code" class="form-control" required="" />
        <span asp-validation-for="@Model.Unit.Code" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label asp-for="@Model.Unit.ViewStatus" class="control-label"></label>
        <select asp-for="@Model.Unit.ViewStatus" class="form-control">
            @if (Model.Unit.ViewStatus)
            {
                <option value="true" selected="selected">@Resource.ViewStatusShown</option>
                <option value="false">@Resource.ViewStatusHidden</option>
            }
            else
            {
                <option value="true">@Resource.ViewStatusShown</option>
                <option value="false" selected="selected">@Resource.ViewStatusHidden</option>
            }
        </select>
        <span asp-validation-for="@Model.Unit.ViewStatus" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="col-md-9">
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" onchange="haveSimilar($(this).prop('checked'))" asp-for="@Model.Unit.HaveSimilar" /> @Html.DisplayNameFor(model => model.Unit.HaveSimilar)
                @if (Model.Unit.HaveSimilar)
                {
                    <input style="width: 100px;display: inline;" min="1" asp-for="@Model.Unit.Count" class="form-control" />
                }
                else
                {
                    <input style="width: 100px;display: inline;" min="1" asp-for="@Model.Unit.Count" class="form-control" readonly />
                }
            </label>
        </div>
    </div>
</div>
<div id="SimilarDiv" class="form-row @isHidden">
    <button type="button" onclick="newSimilar()" class="btn btn-primary col-md-3 mb-2">@Resource.AddSimilarChalet</button>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>
                    <label asp-for="@Model.Unit.Name" class="control-label"></label>
                </th>
                <th>
                    <label asp-for="@Model.Unit.Code" class="control-label"></label>
                </th>
                <th>
                    <label asp-for="@Model.Unit.ViewStatus" class="control-label"></label>
                </th>
                <th>
                    <label class="control-label">@Resource.InterfaceImage</label>
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody id="SimilarChalet">
            @foreach (var item in Model.SimilarUnits.OrderBy(c => c.Name))
            {
                var image = "";
                var smallImage = "";
                if (item.UnitImages.Any())
                {
                    image = Url.Content("~/")+ item.UnitImages.FirstOrDefault()?.File.FileContent;
                    smallImage = Url.Content("~/") + item.UnitImages.FirstOrDefault()?.File.FileContentMin;
                }

            <tr class="similarRow">
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Code
                </td>
                <td>
                    @if (item.ViewStatus)
                    {
                        <span class="text-success">
                            @Resource.ViewStatusShown
                        </span>
                    }
                    else
                    {
                        <span class="text-danger">@Resource.ViewStatusHidden</span>
                    }
                </td>
                <td>
                    <div data-big="3" data-lightbox="gallery">
                        <div class="entry">
                            <div class="entry-image">
                                <a href="@image" data-lightbox="image"><img style="width: 100px" src="@smallImage"></a>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <a href="@Url.Action("RemoveUnit",new {id=item.Id,referUrl=Url.Action("Unit",new {id=item.OriginId,chaletId=item.ChaletId})})" class="btn btn-danger btn-sm"><i class="icon-trash"></i></a>
                    <button type="button" href="~/Chalets/Remove" class="btn btn-primary btn-sm" onclick="updateSimilar('@item.Id','@item.Name','@item.Code','@item.ViewStatus.ToString().ToLower()','@image','@smallImage')"><i class="icon-edit"></i></button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div class="form-group">
    <label asp-for="@Model.Unit.Space" class="control-label"></label>
    <input asp-for="@Model.Unit.Space" required="" class="form-control" />
    <span asp-validation-for="@Model.Unit.Space" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Unit.Description" class="control-label"></label>
    <textarea rows="7" asp-for="@Model.Unit.Description" class="form-control"></textarea>
    <span asp-validation-for="@Model.Unit.Description" class="text-danger"></span>
</div>


