@model Data.ViewModels.UnitsViewModel

@{
    ViewData["Title"] = "Chalet";
    Layout = "~/Views/Shared/_ChaletLayout.cshtml";
    ViewBag.chaletId = Model.Chalet.Id;
}
<h4>
    @Domain.PropertyTypeHelper.GetResource(Model.Chalet.PropertyType, nameof(Resource.Resorts))
    | @Model.Chalet.ChaletName
</h4>


<a asp-action="Unit" asp-route-chaletId="@Model.Chalet.Id" class="btn btn-primary btn-sm"><i class="icon-plus-circle"></i> @Domain.PropertyTypeHelper.GetResource(Model.Chalet.PropertyType, nameof(Resource.AddNewUnit))</a>
<div class="table-responsive">
    <table class="table table-striped table-bordered w-100 mt-2">
        <thead>
            <tr>
                <th colspan="5">
                    @Domain.PropertyTypeHelper.GetResource(Model.Chalet.PropertyType, nameof(Resource.Resorts))
                </th>
            </tr>
            <tr>
                <th>@Domain.PropertyTypeHelper.GetResource(Model.Chalet.PropertyType, nameof(Resource.UnitName))</th>
                <th>@Resource.UnitCode</th>
                <th>@Resource.ViewStatus</th>
                <th>@Resource.Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var modelUnit in Model.Units.OrderBy(c => c.Number))
            {
                <tr>
                    <td>
                        @modelUnit.Name
                        @if (Model.Units.Count(c => c.OriginId == modelUnit.Id) > 0)
                        {
                            <span>(@modelUnit.Number)</span>
                        }
                        @if (modelUnit.IsSimilar)
                        {
                            <span>(@modelUnit.Number)</span>
                        }
                    </td>
                    <td>
                        @modelUnit.Code
                    </td>
                    <td>
                        @if (modelUnit.ViewStatus)
                        {
                            <span class="text-success">@Resource.ViewStatusShown</span>
                        }
                        else
                        {
                            <span class="text-danger">@Resource.ViewStatusHidden</span>
                        }
                    </td>
                    <td>
                        @if (!modelUnit.IsSimilar)
                        {
                            <a asp-action="Unit" asp-route-id="@modelUnit.Id" asp-route-chaletId="@modelUnit.ChaletId" class="btn btn-primary btn-sm"><i class="icon-edit"></i></a>
                        }
                        else
                        {
                            <span>@Resource.UpdateMostBeInMainUnit</span>
                        }
                    </td>
                </tr>
            }
            @if (Model.Units.Count == 0)
            {
                <tr>
                    <th colspan="5" class="text-center">@Resource.NoRecord</th>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        updateMenu("mychalet");
    </script>
}