@model SingleUnitViewModel
@{
    ViewBag.Title = Model.Unit.Name;
    Layout = "~/Views/Shared/_Layout_old.cshtml";
    var dates = Model.DateTo.Date - Model.DateFrom.Date;
    var nights = Math.Abs(dates.Days);
    var actionName = Url.Action("Reserve");
    if (!Model.isPassword && Model.isRegistration)
    {
        actionName = Url.Action("Register");
    }
    var user = SessionClass.GetUser(HttpContextAccessor.HttpContext);
    var rate = (Model.Rate.Cleaning + Model.Rate.Crew + Model.Rate.PropertyCondition) / 3;

}
@section css{
    <!-- Radio Checkbox Plugin -->
    <link rel="stylesheet" href="~/css/components/radio-checkbox.css" type="text/css" />
    <style>
        .step {
            line-height: 30px !important;
            width: 30px !important;
            height: 30px !important
        }

        .step {
            font-size: 13px
        }
    </style>
}
<div class="section my-0 py-0 pt-3">
    <ul class="process-steps process-5 row col-mb-30 justify-content-center mb-4">
        <li class="col-sm-6 col-lg-1-5 pb-0 active">
            <a href="#" class="step i-bordered i-circled mx-auto icon-shopping-cart"></a>
            <h6>
                @Resource.Choosing
            </h6>
        </li>
        <li class="col-sm-6 col-lg-1-5 pb-0 active">
            <a href="#" class="step i-bordered i-circled mx-auto icon-pencil2"></a>
            <h6>
                @Resource.Audit
            </h6>
        </li>
        <li class="col-sm-6 col-lg-1-5 pb-0 active">
            <a href="#" class="step i-bordered i-circled mx-auto icon-money-bill"></a>
            <h6>@Resource.Payments</h6>
        </li>
    </ul>
</div>
<div class=" clearfix mb-5">
    <div class="row mt-2">
        <div class="col-md-8">
            @if (!SessionClass.IsAuthentecated(HttpContextAccessor.HttpContext))
            {
                <div class="col-md-6 offset-3">

                    <h4 class="mb-1">@Resource.YourLogin</h4>
                    <form id="login-form" name="login-form" class="mb-0" method="post">
                        <input type="hidden" asp-for="DateFrom" value="@Model.DateFrom.ToString("MM/dd/yyyy")" />
                        <input type="hidden" asp-for="DateTo" value="@Model.DateTo.ToString("MM/dd/yyyy")" />
                        <h3>تسجيل دخول</h3>
                        <h5>أدخل رقم الجوال لإنشاء حساب أو تسجيل الدخول</h5>
                        <div class="row">
                            @if ((bool)ViewBag.CodeSent)
                            {
                                <p class="alert alert-warning">user @ViewBag.Code to confirm your account, just for testing</p>

                                <div class="col-12 form-group">
                                    @if (!(bool)ViewBag.IsExist)
                                    {
                                        <label>سيتم إرسال رسالة الكود على الرقم (@ViewBag.MobileNo)</label>
                                    }
                                    <label for="login-form-username">ادخل الرمز المرسل هنا</label>
                                    <input type="number" id="code" name="code" placeholder="123-456" class="form-control not-dark" />
                                    <input type="hidden" name="mobileno" id="mobileno" value="@ViewBag.MobileNo" />
                                    <input type="hidden" name="confirm" value="true" />
                                </div>
                                @if ((bool)ViewBag.IsExist)
                                {
                                    <div class="col-12 form-group">
                                        <button class="button button-3d button-primary m-0 w-100" id="login-form-submit" name="login-form-submit" value="login">دخول</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-12 form-group">
                                        <button class="button button-3d button-primary m-0 w-100" id="login-form-submit" name="login-form-submit" value="login">التسجيل</button>
                                    </div>
                                }
                            }
                            else
                            {

                                <div class="col-12 form-group">
                                    <label for="login-form-username">أدخل رقم جوالك</label>
                                    <input type="text" id="phone" value="" class="form-control not-dark" />
                                    <input type="hidden" name="mobileno" id="mobileno" />
                                </div>
                                <div class="col-12 form-group">
                                    <button class="button button-3d button-primary m-0 w-100" id="login-form-submit" name="login-form-submit" value="login">دخول / تسجيل</button>
                                </div>

                            }
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <div class="tabs tabs-alt tabs-justify clearfix" id="tab-10">

                        <ul class="tab-nav clearfix">
                            <li>
                                <a href="#tabs-cash">
                                    <i class="icon-money text-success"></i> @Resource.Cash
                                </a>
                            </li>
                            <li><a href="#tabs-ccard"><i class="icon-credit-card text-warning"></i> @Resource.CCard</a></li>
                            <li style="display:none"><a href="#tabs-invoice"><i class="icon-file-invoice text-info"></i> @Resource.PaymentIncoice</a></li>
                        </ul>

                        <div class="tab-container">
                            <div class="tab-content clearfix" id="tabs-ccard">
                                <div class="card card-body">
                                    <div class="justify-content-between">
                                        <img src="~/website/images/visa.png" class="mx-2" width="70" />
                                        <img src="~/website/images/master.png" width="70" />
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mt-4">
                                                <label>@Resource.CardNumber</label>
                                                <input type="text" id="InCardNo" class="form-control" placeholder="0000 0000 0000 0000" />
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>@Resource.ExpareDate</label>
                                                    <input type="text" id="InExDate" class="form-control" placeholder="00/00" />
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>@Resource.CCV</label>
                                                    <input type="text" id="InCcv" class="form-control" placeholder="000" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <img src="~/website/images/pay-bg.png" />
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <strong>@Resource.YouWillPayNow @Model.Unit.DepositAmount @Resource.Currency</strong>
                                        </div>
                                        <div class="col-md-6 text-right">
                                            <button class="button button-circle" data-toggle="modal" data-target="#paymentModal" onclick="payInit(@((int)Enums.PaymentMethod.CreditCard))"><i class="icon-lock"></i> @Resource.PaymentNow</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content clearfix" id="tabs-cash">
                                @Domain.Setting.Get(HttpContextAccessor.HttpContext,"PleaseVisitOurOfficeToPay")
                                <p>@Resource.Amount @Model.Unit.DepositAmount @Resource.Currency</p>
                                <button type="button" data-toggle="modal" data-target="#paymentModal" onclick="payInit(@((int)Enums.PaymentMethod.Cash))" class="button button-circle">@Resource.contuio</button>
                            </div>
                            <div class="tab-content clearfix" id="tabs-invoice">
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-2"><span>@Model.Unit.DayPrice </span><small><span>@Resource.Currency</span> / @Resource.PricePerNight</small></h3>
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <strong>@Resource.ArriveDate</strong>
                                <br />
                                @Model.DateFrom.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                <strong>@Resource.LeaveDate</strong>
                                <br />
                                @if (Model.DateTo.Date == Model.DateFrom.Date || Model.DateTo.Date < Model.DateFrom.Date)
                                {
                                    @Model.DateFrom.AddDays(1).ToString("dd-MM-yyyy")
                                }
                                else
                                {
                                    <span>@Model.DateTo.ToString("dd-MM-yyyy")</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>@Resource.NightCount</strong>
                                <br />
                                @if (Model.DateTo.Date == Model.DateFrom.Date || Model.DateTo.Date < Model.DateFrom.Date)
                                {
                                    @Resource.OneNight
                                }
                                else
                                {
                                    <p>
                                        @if (nights == 1)
                                        {
                                            @Resource.OneNight
                                        }
                                        else if (nights == 2)
                                        {
                                            <span>@Resource.TowNight</span>
                                        }
                                        else if (nights > 10)
                                        {
                                            <span>@nights @Resource.Night</span>
                                        }
                                        else
                                        {
                                            <span>@nights @Resource.Nights</span>
                                        }
                                    </p>
                                }

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong><i class="icon-sign-in-alt"></i> @Resource.ENTERTIME </strong>
                                <br />
                                @Model.Unit.Chalet.EnterTime.ToString("hh:mm tt")
                            </td>
                            <td>
                                <strong><i class="icon-sign-out-alt"></i> @Resource.EXITTIME</strong>
                                <br />
                                @Model.Unit.Chalet.ExitTime.ToString("hh:mm tt")
                            </td>
                        </tr>
                    </table>
                    <h4 class="my-1">@Resource.InvoiceDetails</h4>

                    <div class="table-responsive">
                        <table class="table cart mb-0">
                            <tbody>
                                <tr class="cart_item">
                                    <td class="border-top-0 cart-product-name">
                                        @Resource.OneNight * @Model.Unit.DayPrice @Resource.Currency
                                    </td>
                                    <td class="border-top-0 text-right cart-product-name">
                                        @{
                                            nights = nights == 0 ? 1 : nights;
                                            var amount = Model.Unit.DayPrice * nights;
                                        }
                                        <span class="amount">@amount @Resource.Currency</span>
                                    </td>
                                </tr>
                                <tr class="cart_item">
                                    <td class="cart-product-name">
                                        <strong>@Resource.Total</strong>
                                    </td>
                                    <td class="cart-product-name text-right">
                                        <span class="amount color lead"><strong>@amount @Resource.Currency</strong></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    @if (Model.Unit.Chalet.InsuranceAmount != 0)
                    {
                        <hr />
                        <h4 class="my-1">@Resource.ReturnedIncurance</h4>
                        <p>@Model.Unit.Chalet.InsuranceAmount @Resource.PayInCheckInAndReturnedInCheckOut </p>
                    }
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <button class="btn btn-link" type="button" data-toggle="modal" data-target="#conedtionModal"><i class="icon-info-circle"></i> @Resource.ReserveCondetionAndPolicy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <form method="post" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Resource.ReserveCondetionAndPolicy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    @Resource.AreYouSureYouWantToReserve
                    <input type="hidden" name="ccv" id="ccv" />
                    <input type="hidden" name="exDate" id="exDate" />
                    <input type="hidden" name="cardNo" id="cardNo" />
                    <input type="hidden" name="type" id="paymentType" />
                    <input type="hidden" name="unitId" value="@Model.Unit.Id" />
                    <input type="hidden" name="CheckIn" value="@Model.DateFrom.ToString("MM/dd/yyyy")" />
                    <input type="hidden" name="CheckOut" value="@Model.DateTo.ToString("MM/dd/yyyy")" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resource.Close</button>
                    <button type="submit" class="btn btn-primary">@Resource.SaveChanges</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="conedtionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">@Resource.ReserveCondetionAndPolicy</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <h5>@Resource.ReserveCondetion</h5>
                    @if (Model.Unit.Chalet.CleanCondition)
                    {
                        <p>@Resource.CLEANCONDITION</p>
                    }
                    @if (Model.Unit.Chalet.FamilyCondition)
                    {
                        <p>@Resource.FamilyCondition</p>
                    }
                    @if (Model.Unit.Chalet.InsuranceCondition)
                    {
                        <p>@Resource.thereInsurance @Model.Unit.Chalet.InsuranceAmount @Resource.MostPaid</p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Unit.Chalet.OtherCondition))
                    {
                        <p>@Model.Unit.Chalet.OtherCondition</p>
                    }
                    <h5>@Resource.CancelReservePolicy</h5>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <form method="get" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <input type="hidden" name="id" value="@Model.Unit.Id" />
                    <input type="hidden" name="CheckIn" id="DateFrom" value="@Model.DateFrom" />
                    <input type="hidden" name="CheckOut" id="DateTo" value="@Model.DateTo" />
                    <input type="text" class="form-control daterange" value="@Model.DateFrom.ToString("MM/dd/yyyy") - @Model.DateTo.ToString("MM/dd/yyyy")" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resource.Close</button>
                    <button type="submit" class="btn btn-primary">@Resource.SaveChanges</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/components/moment.js"></script>
    <script src="~/js/components/daterangepicker.js"></script>
    <script src="~/js/PhoneNumberTemp/intlTelInput.js"></script>

    <script>
        function payInit(type) {
            $("#paymentType").val(type);
            $("#ccv").val($("#InCcv").val());
            $("#exDate").val($("#InExDate").val());
            $("#cardNo").val($("#InCardNo").val());
        }
        // .daterange1
        $(".daterange").daterangepicker({
            inline: true,
            "buttonClasses": "button button-rounded button-mini m-0",
            "applyClass": "button-color",
            "cancelClass": "button-light"
        },
            function (start, end, label) {
                $("#DateFrom").val(start.format('MM/DD/YYYY'));
                $("#DateTo").val(end.format('MM/DD/YYYY'));
            });

        var input = document.querySelector("#phone");
            window.intlTelInput(input, {
                hiddenInput: "mobileno",
                utilsScript: "@Url.Content("~/js/PhoneNumberTemp/utils.js?1613236686837")" // just for formatting/placeholders etc
            });
    </script>
}