@model Data.Models.Chalets.Reservation
@{
    ViewData["Title"] = Resource.DetailsReservationNumber + " " + Model.ReservationNumber;
    Layout = "~/Views/Shared/_EndUser_Profile_Layout.cshtml";
    var TotalPrice = Model.TotalDays * Model.DayPrice;
}

<h4>@ViewBag.Title</h4>
<div class="style-msg2 successmsg">

</div>
<div class="style-msg2">
    @if (Model.Status == (int)Enums.Status.Cancled)
    {
        <div class="msgtitle dangermsg">
            @Resource.ReservationCancledForResone (@Model.CancelResones)
        </div>
    }
    else if (Model.Status == (int)Enums.Status.Confirmed)
    {
        <div class="msgtitle successmsg">
            @Resource.Confirmed
        </div>
    }
    else if (Model.Status == (int)Enums.Status.New)
    {
        <div class="msgtitle warningmsg">
            @Resource.ConfirmPending
        </div>
    }

    <div class="sb-msg">
        <div class="row">
            <div class="col-md-6">
                <strong>@Resource.PropertyName:</strong> @Model.Unit.Name
            </div>
            <div class="col-md-6">
                <strong>@Resource.UnitCode:</strong> @Model.Unit.Code
            </div>

            <div class="col-md-6">
                <strong>@Resource.ArriveDate:</strong> @Model.DateFrom.ToString("dd-MM-yyyy")
            </div>

            <div class="col-md-6">
                <strong>@Resource.LeaveDate:</strong> @Model.DateTo.ToString("dd-MM-yyyy")
            </div>

            <div class="col-md-6">
                <strong>@Resource.TotalDays:</strong> @Model.TotalDays
            </div>

            <div class="col-md-6">
                <strong>@Resource.DayPrice:</strong> @Model.DayPrice
            </div>

            <div class="col-md-6">
                <strong>@Resource.TotalPrice:</strong> @TotalPrice
            </div>

            <div class="col-md-6">
                <strong>@Resource.Paid:</strong> @Model.Invoices.Sum(c => c.Amount)
            </div>

            <div class="col-md-6">
                <strong>@Resource.InvoiceByName:</strong> @Model.User.FirstName
            </div>

            <div class="col-md-6">
                <strong>@Resource.LastName:</strong> @Model.User.LastName
            </div>

            <div class="col-md-6">
                <strong>@Resource.PhoneNumber:</strong> @Model.User.PhoneNumber
            </div>

            <div class="col-md-6">
                <strong>@Resource.WhatsAppNumber:</strong> @Model.User.WhatsAppNumber
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $("#reservation").addClass("active");
    </script>
}
