@{
    ViewData["Title"] = Resource.Units;
    Layout = null;
}

<!DOCTYPE html>
<html dir="@HttpContextAccessor.HttpContext.Session.GetString("LanguageDirection")" lang="ar-EG">
<partial name="_head_website" />
<link href="~/css/jquery.skeleton.css" rel="stylesheet">
<body class="stretched">
    <section id="wrapper" class="clearfix">
        <partial name="_endUser_header" />
        <!-- Page Title
        ============================================= -->
        <section id="page-title" class="page-title-parallax page-title-dark page-title-center include-header include-topbar" style="background: url('@Url.Content("~/images/bg6.jpg")') no-repeat center center / cover; padding: 110px 0;" data-center="background-position: 0px -100px;" data-top-bottom="background-position:0px 200px;">

            <div class="container clearfix">
                <h1>
                    @if (ViewBag.type != null && ViewBag.city == Guid.Empty)
                    {
                        switch (ViewBag.type)
                        {
                            case (int)Enums.PropertyType.Resort:
                                <strong>@Resource.BestResort</strong>
                                break;
                            case (int)Enums.PropertyType.Villa:
                                <strong>@Resource.BestVills</strong>
                                break;
                            case (int)Enums.PropertyType.Reset:
                                <strong>@Resource.BestResetsHome</strong>
                                break;
                        }
                    }
                    else if (ViewBag.city != Guid.Empty)
                    {
                        <strong>@Resource.BestHomesIn @ViewBag.CityName</strong>
                    }
                </h1>
                <h3 class="text-white mt-4">
                    <i class="icon-calendar"></i>
                    @if (ViewBag.Nights == 1)
                    {
                        <strong>
                            @Resource.OneNight
                        </strong>
                    }
                    else if (ViewBag.Nights == 2)
                    {
                        <strong>
                            @Resource.TowNight
                        </strong>
                    }
                    else if (ViewBag.Nights > 10)
                    {
                        <strong>
                            @ViewBag.Nights @Resource.Night
                        </strong>
                    }
                    else
                    {
                        <strong>
                            @ViewBag.Nights @Resource.Nights
                        </strong>
                    }
                    @if (((DateTime)ViewBag.CheckIn).AddDays(1).Date == ((DateTime)ViewBag.CheckOut).Date)
                    {
                        <strong>
                            @(((DateTime)ViewBag.CheckIn).ToString("dd MMMM yyyy"))
                        </strong>
                    }
                    else
                    {
                        <strong> @Resource.From @(((DateTime)ViewBag.CheckIn).ToString("dd MMMM yyyy")) @Resource.To @(((DateTime)ViewBag.CheckOut).ToString("dd MMMM yyyy"))</strong>
                    }
                </h3>
                <button type="button" style="cursor: pointer;" data-toggle="modal" data-target="#dateModal" class="btn btn-light btn-sm"><i class="icon-edit"></i> @Resource.EditDate</button>
            </div>

        </section><!-- #page-title end -->
        <!-- Content
        ============================================= -->
        <section id="content" style="min-height:350px">
            <div class="content-wrap pt-0">
                <div class="container">
                    <div id="units"></div>

                </div>
            </div>
        </section>

        <!-- Content
        ============================================= -->
        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark" style="background-color: #222;">

            <partial name="_footerAccount" />
        </footer><!-- #footer end -->
    </section>

    <form id="filterForm">
        <input type="hidden" name="type" value="@ViewBag.Type" />
        <input type="hidden" name="city" value="@ViewBag.City" />
        <input type="hidden" name="checkIn" value="@ViewBag.checkIn.ToString("MM/dd/yyyy")" />
        <input type="hidden" name="checkOut" value="@ViewBag.checkOut.ToString("MM/dd/yyyy")" />
    </form>
    <div class="d-none" id="loadingContent">
        <div class="entry card card-body mb-2 pb-3 pt-3 col-12">
            <div class="grid-inner row">
                <div class="col-lg-4">
                    <a href="" data-lightbox="image">
                        <img style="width:288px;height:200px" class="img-thumbnail" onerror="this.onerror = null; this.src='@Url.Content("~/Images/noimg.jpg")';" alt="Image">
                    </a>
                </div>
                <div class="col-lg col-md-8 mt-4 mt-lg-0">
                    <div class="entry-title title-sm">
                        <h2><a href="blog-single.html">&ensp;</a></h2>
                        <h5><a href="blog-single.html">&ensp;</a></h5>
                        <h6><a href="blog-single.html">&ensp;</a></h6>
                    </div>
                    <div class="entry-meta">
                    </div>
                    <div class="entry-content">
                    </div>
                </div>
            </div>
        </div>
        <div class="entry card card-body mb-2 pb-3 pt-3 col-12">
            <div class="grid-inner row">
                <div class="col-lg-4">
                    <a href="" data-lightbox="image">
                        <img style="width:288px;height:200px" class="img-thumbnail" onerror="this.onerror = null; this.src='@Url.Content("~/Images/noimg.jpg")';" alt="Image">
                    </a>
                </div>
                <div class="col-lg col-md-8 mt-4 mt-lg-0">
                    <div class="entry-title title-sm">
                        <h2><a href="blog-single.html">&ensp;</a></h2>
                        <h5><a href="blog-single.html">&ensp;</a></h5>
                        <h6><a href="blog-single.html">&ensp;</a></h6>
                    </div>
                    <div class="entry-meta">
                    </div>
                    <div class="entry-content">
                    </div>
                </div>
            </div>
        </div>
        <div class="entry card card-body mb-2 pb-3 pt-3 col-12">
            <div class="grid-inner row">
                <div class="col-lg-4">
                    <a href="" data-lightbox="image">
                        <img style="width:288px;height:200px" class="img-thumbnail" onerror="this.onerror = null; this.src='@Url.Content("~/Images/noimg.jpg")';" alt="Image">
                    </a>
                </div>
                <div class="col-lg col-md-8 mt-4 mt-lg-0">
                    <div class="entry-title title-sm">
                        <h2><a href="blog-single.html">&ensp;</a></h2>
                        <h5><a href="blog-single.html">&ensp;</a></h5>
                        <h6><a href="blog-single.html">&ensp;</a></h6>
                    </div>
                    <div class="entry-meta">
                    </div>
                    <div class="entry-content">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-body">
                <form method="get" class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="type" value="@ViewBag.Type" />
                        <input type="hidden" name="city" value="@ViewBag.City" />
                        <input type="hidden" name="checkIn" id="DateFrom" value="@ViewBag.checkIn.ToString("MM/dd/yyyy")" />
                        <input type="hidden" name="checkOut" id="DateTo" value="@ViewBag.checkOut.ToString("MM/dd/yyyy")" />
                        <input type="text" class="form-control daterange" value="@ViewBag.checkIn.ToString("MM/dd/yyyy") - @ViewBag.checkOut.ToString("MM/dd/yyyy")" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resource.Close</button>
                        <button type="submit" class="btn btn-primary">@Resource.SaveChanges</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <partial name="_scripts" />
    <script src="~/js/jquery.scheletrone.js"></script>
    <script src="~/js/components/moment.js"></script>
    <script src="~/js/components/daterangepicker-ar.js"></script>
    <script>
        getData(1);
        function getData(pageNumber) {
            $("#units").html($("#loadingContent").html());
            $('#units').scheletrone();
            var data = $('#filterForm').serialize();
            $.ajax({
                url: "@Url.Action("GetProperty")",
                data: data + "&pageNumber=" + pageNumber,
                type: "Get",
                dataType: "html",
                success: function (result) {
                    $("#units").html(result);
                }
            });
        }
        $(".daterange").daterangepicker({
            inline: true,
            "buttonClasses": "button button-rounded button-mini m-0",
            "applyClass": "button-color",
            "cancelClass": "button-light"
        },
            function (start, end, label) {
                $("#DateFrom").val(start.format('MM/DD/YYYY'));
                $("#DateTo").val(end.format('MM/DD/YYYY'));
            });
    </script>
</body>
</html>