<!DOCTYPE html>
<html dir="@HttpContextAccessor.HttpContext.Session.GetString("LanguageDirection")" lang="ar-EG">
<partial name="_head" />
@RenderSection("css", required: false)
<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper">

        <partial name="_headerAccount" />

        <section id="content">
            <div class="content-wrap">
                <div class="container">
                    <div class="card rounded-top bg-white border-0 w-100 shadow p-3">
                        <div class="row">
                            <div class="sidebar border-right col-lg-2 pl-0 pr-0">
                                <div class="sidebar-widgets-wrap">
                                    <div class="widget widget_links clearfix">
                                        <ul>
                                            <li id="chaletInfo" class="mlink py-3"><a href="~/UserAccount/Chalet/@ViewBag.chaletId"><div>@Resource.ChaletInfo</div></a></li>
                                            <li id="settings" class="mlink py-3"><a href="~/UserAccount/Setting/@ViewBag.chaletId"><div>@Resource.Settings</div></a></li>
                                            <li id="mychalet" class="mlink py-3"><a href="~/Chalets/Index/@ViewBag.chaletId"><div>@Resource.MyChalets</div></a></li>
                                            <li id="reservations" class="mlink py-3"><a href="~/Chalets/Reservations/@ViewBag.chaletId"><div>@Resource.Reservations</div></a></li>
                                            <li id="reservation-calender" class="mlink py-3"><a href="~/Chalets/Calender/@ViewBag.chaletId"><div>@Resource.ReservationsCalender</div></a></li>
                                            <li id="invoices" class="mlink py-3"><a href="#"><div>@Resource.MyInvoices</div></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="postcontent col-lg-10">
                                @if (TempData.ContainsKey("AlertType") && TempData.ContainsKey("AlertMessage"))
                                {
                                    <div class="style-msg @TempData["AlertType"].ToString()msg">
                                        <div class="sb-msg"><i class="icon-thumbs-up"></i><strong>@TempData["AlertTitle"].ToString()</strong> @TempData["AlertMessage"].ToString().</div>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    </div>
                                }
                                @RenderBody()
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section><!-- #content end -->
        <partial name="_footerAccount" />

    </div><!-- #wrapper end -->

    <partial name="_scripts" />
    @RenderSection("scripts", required: false)
</body>
</html>