<!DOCTYPE html>
<html dir="@HttpContextAccessor.HttpContext.Session.GetString("LanguageDirection")" lang="ar-EG">
<partial name="_head" />
@{
    var resort = false;
    if (ViewBag.IsResort != null)
    {
        resort = true;
    }
}
@RenderSection("css", required: false)
<body class="stretched">


    <!-- Document Wrapper
        ============================================= -->
    <div id="wrapper">

        <partial name="_headerAccount" />
        <section id="content">
            <div class="content-wrap">
                <div class="container clearfix">
                    @if (TempData.ContainsKey("AlertType") && TempData.ContainsKey("AlertMessage"))
                    {
                        <div class="style-msg @TempData["AlertType"].ToString()msg">
                            <div class="sb-msg"><i class="icon-thumbs-up"></i><strong>@TempData["AlertTitle"].ToString()</strong> @TempData["AlertMessage"].ToString().</div>
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        </div>
                    }
                    <div class="row gutter-40 col-mb-80">

                        <div class="sidebar sticky-sidebar-wrap col-lg-3">
                            <div class="sidebar-widgets-wrap">
                                <div class="sticky-sidebar">
                                    <div class="widget quick-contact-widget form-widget clearfix">

                                        <div class="card bg-dark border-0">
                                            <div class="card-header row">
                                                <div class="col-md-4 col-sm-12">
                                                    <img src="@Url.Content("~/"+Domain.File.GetImage(HttpContextAccessor.HttpContext,SessionClass.GetUser(HttpContextAccessor.HttpContext).Image))" />
                                                </div>
                                                <div class="col-md-8 col-sm-12 text-center ">
                                                    <h5 class="text-white">@SessionClass.GetUser(HttpContextAccessor.HttpContext).FirstName</h5>
                                                    <a class="text-white" href="~/Accounts/Logout"><i class="icon-power-off"></i> @Resource.Logout</a>
                                                </div>
                                            </div>
                                            <div class="card-body p-0">
                                                <div class="list-group">

                                                    <a class="list-group-item list-group-item-action" id="settings" href="~/UserAccount/Setting/@ViewBag.chaletId">
                                                        <i class="icon-settings"></i> @Resource.Settings
                                                    </a>
                                                    @if (resort)
                                                    {
                                                        <a id="mychalet" class="list-group-item list-group-item-action" href="~/Chalets/Index/@ViewBag.chaletId">
                                                            <i class="icon-building"></i> @Resource.PropertiesUnits
                                                        </a>
                                                    }
                                                    <a id="reservations" class="list-group-item list-group-item-action" href="~/Chalets/Reservations/@ViewBag.chaletId">
                                                        <i class="icon-calendar-check"></i> @Resource.Reservations
                                                    </a>
                                                    <a id="reservation-calender" class="list-group-item list-group-item-action" href="~/Chalets/Calender/@ViewBag.chaletId">
                                                        <i class="icon-calendar-1"></i> @Resource.AddUpdateReservations
                                                    </a>
                                                </div>
                                                <div class="toggle bg-white m-0">
                                                    <div class="toggle-header p-3">
                                                        <div class="toggle-icon">
                                                            <i class="toggle-closed icon-line-plus"></i>
                                                            <i class="toggle-open icon-line-minus"></i>
                                                        </div>
                                                        <div class="toggle-title">
                                                            @Resource.GoTo
                                                        </div>
                                                    </div>
                                                    <div class="toggle-content">
                                                        <div class="list-group">
                                                            <a class="list-group-item list-group-item-action" href="~/UserAccount/Chalets">
                                                                <div>@Resource.MyProperties</div>
                                                            </a>
                                                            <a class="list-group-item list-group-item-action" href="~/UserAccount/Setting/@ViewBag.chaletId">
                                                                <div>@Resource.Accounting</div>
                                                            </a>
                                                            <a class="list-group-item list-group-item-action" href="~/Chalets/Index/@ViewBag.chaletId">
                                                                <div>@Resource.Reports</div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="postcontent col-lg-9">
                            @RenderBody()

                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #content end -->
        <!--<section id="content">
        <div class="content-wrap">
            <div class="container">

                <div class="text-center" style="display: none" id="loading">
                    <span class="text-info spinner icons-spinner-5" aria-hidden="true"></span>
                    <h6>@Resource.PleaseWait</h6>
                </div>
                @if (TempData.ContainsKey("AlertType") && TempData.ContainsKey("AlertMessage"))
                {
                    <div class="style-msg @TempData["AlertType"].ToString()msg">
                        <div class="sb-msg"><i class="icon-thumbs-up"></i><strong>@TempData["AlertTitle"].ToString()</strong> @TempData["AlertMessage"].ToString().</div>
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    </div>
                }
                <div class="card rounded-top bg-white border-0 w-100 shadow p-3">
                    <div class="row">
                        <div class="sidebar border-right col-lg-2 pl-0 pr-0">
                            <div class="sidebar-widgets-wrap">
                                <div class="widget widget_links clearfix">
                                    <ul class="mb-2">
                                        <li id="settings" class="mlink py-3">
                                            <a href="~/UserAccount/Setting/@ViewBag.chaletId">
                                                <div>@Resource.Settings</div>
                                            </a>
                                        </li>-->
        @*<li id="chaletInfo" class="mlink py-3">
                <a href="~/UserAccount/Chalet/@ViewBag.chaletId">
                    <div>@Resource.EditProprity</div>
                </a>
            </li>*@
        <!--@if (resort)
                                            {
                                                <li id="mychalet" class="mlink py-3">
                                                    <a href="~/Chalets/Index/@ViewBag.chaletId">
                                                        <div>@Resource.MyProperties</div>
                                                    </a>
                                                </li>
                                            }
                                            <li id="reservations" class="mlink py-3">
                                                <a href="~/Chalets/Reservations/@ViewBag.chaletId">
                                                    <div>@Resource.Reservations</div>
                                                </a>
                                            </li>
                                            <li id="reservation-calender" class="mlink py-3">
                                                <a href="~/Chalets/Calender/@ViewBag.chaletId">
                                                    <div>@Resource.AddUpdateReservations</div>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="toggle">
                                            <div class="toggle-header">
                                                <div class="toggle-icon">
                                                    <i class="toggle-closed icon-line-plus"></i>
                                                    <i class="toggle-open icon-line-minus"></i>
                                                </div>
                                                <div class="toggle-title">
                                                    @Resource.GoTo
                                                </div>
                                            </div>
                                            <div class="toggle-content">
                                                <ul>
                                                    <li id="chaletInfo" class="mlink py-3">
                                                        <a href="~/UserAccount/Chalets">
                                                            <div>@Resource.MyProperties</div>
                                                        </a>
                                                    </li>
                                                    <li id="settings" class="mlink py-3">
                                                        <a href="~/UserAccount/Setting/@ViewBag.chaletId">
                                                            <div>@Resource.Accounting</div>
                                                        </a>
                                                    </li>
                                                    <li id="mychalet" class="mlink py-3">
                                                        <a href="~/Chalets/Index/@ViewBag.chaletId">
                                                            <div>@Resource.Reports</div>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="postcontent col-lg-10">


                                @RenderBody()
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>-->
        <!-- #content end -->
        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark">
            <!-- Copyrights
            ============================================= -->
            <partial name="_footerAccount" />
        </footer>
    </div><!-- #wrapper end -->

    <partial name="_scripts" />
    <script>
        $(function () {
            $('.datepicker').datepicker({
                autoclose: true,
                startDate: "today",
                todayHighlight: true,
                format: "mm/dd/yyyy",
            });
        });
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>