@model ContactUs
<h3>@Resource.ContactInfos</h3>
<h5>@Resource.CustomerService - @Resource.ForReservation: @Domain.Setting.Get(HttpContextAccessor.HttpContext,"ReservationPhoneNumber")</h5>
<h5>@Resource.From:@Domain.Setting.Get(HttpContextAccessor.HttpContext, "CustomerServiceFrom") - @Resource.To:@Domain.Setting.Get(HttpContextAccessor.HttpContext, "CustomerServiceTo")</h5>
<h5>@Resource.ContactWithUsBy @Domain.Setting.Get(HttpContextAccessor.HttpContext, "ContactPhone")</h5>
<h5><i class="icon-map-marker"></i> @Resource.Address</h5>
<h5>@Domain.Setting.Get(HttpContextAccessor.HttpContext, "OfficeAddress")</h5>

<h3>@Resource.ContactForm</h3>

<form asp-action="ContactUs" asp-controller="User" class="was-validated" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Subject"></label>
        <input asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject"></span>
    </div>
    <div class="form-group">
        <label asp-for="Message"></label>
        <textarea asp-for="Message" rows="10" class="form-control"></textarea>
        <span asp-validation-for="Message"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@Resource.Send</button>
    </div>
</form>