@model Data.ViewModels.ChaletSettingViewModel

@{
    ViewData["Title"] = "Chalet";
    Layout = "~/Views/Shared/_ChaletLayout.cshtml";
    ViewBag.chaletId = Model.ChaletSetting.ChaletId;
}

<partial name="_setting" model="Model.ChaletSetting" />

<h4>@Resource.ContactInformation</h4>
<button class="btn btn-outline-primary btn-sm mb-2" onclick="addUser()"><i class="icon-plus"></i> @Resource.AddUser</button>
<div class="row">
@foreach (var modelChaletUser in Model.ChaletUsers.OrderByDescending(c => c.IsAdmin))
{
    var adminBorder = "";
    if (modelChaletUser.IsAdmin)
    {
        adminBorder = "border-info";
    }
    <div class="col-md-6">
        <div class="card mb-4 p-2 @adminBorder">
            <div class="entry-title">
                <h4>
                    @Resource.UserName: @modelChaletUser.User.FirstName @modelChaletUser.User.LastName
                </h4>
                <h4><span class="text-muted">@Resource.Email: @modelChaletUser.User.Email</span></h4>
            </div>
            <div class="entry-title">
                <h4>
                    @Resource.PhoneNumber: @modelChaletUser.User.PhoneNumber
                </h4>
                <h4><span class="text-muted">@Resource.WhatsAppNumber: @modelChaletUser.User.WhatsAppNumber</span></h4>
            </div>
            <div class="mt-3">
                <button class="btn btn-primary" type="button" onclick="updateUser('@modelChaletUser.User.Id','@modelChaletUser.User.FirstName','@modelChaletUser.User.LastName','@modelChaletUser.User.Email','@modelChaletUser.User.PhoneNumber','@modelChaletUser.User.WhatsAppNumber','@modelChaletUser.User.JobId','@modelChaletUser.SendWhatsAppNotifications.ToString().ToLower()',@modelChaletUser.User.UserType)"><i class="icon-edit"></i></button>
                <a href="~/UserAccount/RemoveChaletBank/@@modelChaletUser.User.Id" class="btn btn-danger">
                    <i class="icon-trash"></i>
                </a>
            </div>
        </div>
    </div>
}
    </div>
<hr />

<h4>@Resource.Banks</h4>
@foreach (var modelChaletBank in Model.ChaletBanks)
{
    <div class="card border">
        <div class="row p-2">
            <div class="col-auto">
                <div class="entry-image mb-0">
                    <span><img style="width:70px" src="" onerror="this.onerror = null; this.src = '@Url.Content("~/Images/noimg.jpg")';" alt="Image"></span>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 col-sm-12">
                <div class="entry-title">
                    <h4>
                        @Resource.BANKID: @modelChaletBank.Bank.Name
                    </h4>
                    <h4><span class="text-muted">@Resource.ACCOUNTNAME: @modelChaletBank.AccountName</span></h4>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 entry-title">
                <h4>
                    @Resource.ACCOUNTNUMBER: @modelChaletBank.AccountNumber
                </h4>
                <h4>
                    @Resource.IBAN: @modelChaletBank.IBan
                </h4>
            </div>
            <div class="col-md-1 border-left">
                <a href="~/UserAccount/RemoveChaletBank/@modelChaletBank.Id" class="btn btn-danger">
                    <i class="icon-trash"></i>
                </a>
            </div>
        </div>
    </div>
}
<partial name="_chaletBank" model="Model.ChaletBank" />




<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <form asp-action="SaveChaletUser" method="post" class="was-validated modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">@Resource.UserInformation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="chaletId" value="@Model.ChaletSetting.ChaletId" />
                    <input type="hidden" asp-for="User.Id" value="@Guid.Empty" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="User.FirstName" class="control-label"></label>
                            <input type="text" asp-for="User.FirstName" class="form-control" required="" />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="User.LastName" class="control-label"></label>
                            <input type="text" asp-for="User.LastName" class="form-control" required="" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="User.Email" class="control-label"></label>
                        <input type="email" asp-for="User.Email" class="form-control" required="" />
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="User.PhoneNumber" class="control-label"></label>
                            <input type="tel" asp-for="User.PhoneNumber" class="form-control" required="" />
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="User.WhatsAppNumber" class="control-label"></label>
                            <input type="tel" asp-for="User.WhatsAppNumber" class="form-control" required="" />
                        </div>
                    </div>
                    <div id="passwordArea" class="form-group">
                        <label asp-for="User.Password" class="control-label"></label>
                        <input type="password" asp-for="User.Password" class="form-control" required="" />
                        <small class="text-info">@Resource.PasswordDescription</small>
                        </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 d-none">
                            <label asp-for="User.JobId" class="control-label"></label>
                            <select asp-for="User.JobId" class="form-control" required="" asp-items="ViewBag.Jobs">
                                <option selected="" value="">Select option</option>
                            </select>
                            <span asp-validation-for="User.JobId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">@Resource.JobId</label>
                            <select asp-for="User.UserType" class="form-control" required="">
                                <option value="@((int)Enums.UserType.BookAdmin)">@Resource.ProprtyAdmin</option>
                                <option selected="" value="@((int)Enums.UserType.BookUser)">@Resource.RESERVATIONMANAGER</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" asp-for="User.WhatsAppNotifications" class="form-check-input" />
                        <label class="form-check-label" asp-for="User.WhatsAppNotifications">@Resource.SendWhatsAppNotifications</label>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resource.Cancel</button>
                    <button type="submit" class="btn btn-primary">@Resource.Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <script>
        updateMenu("settings");

        function addUser() {
            $("#User_Id").val('@Guid.Empty');
            $("#User_FirstName").val("");
            $("#User_LastName").val("");
            $("#User_Email").val("");
            $("#userModal").modal("show");
            $("#User_PhoneNumber").val("");
            $("#User_Password").val("");
            $("#User_WhatsAppNumber").val("");
            $("#passwordArea").removeClass("d-none");
            $("#User_Password").prop("required", "required");
            $("#User_WhatsAppNotifications").removeAttr("checked");
        }


        function updateUser(id, firstName, lastName, email, phoneNumber, whatsAppNumber, jobId, notifications, userUserType) {
            $("#User_Id").val(id);
            $("#User_FirstName").val(firstName);
            $("#User_LastName").val(lastName);
            $("#User_Email").val(email);
            $("#User_PhoneNumber").val(phoneNumber);
            $("#User_WhatsAppNumber").val(whatsAppNumber);
            $("#User_JobId").val(jobId);
            $("#User_UserType").val(userUserType);
            $("#passwordArea").addClass("d-none");
            $("#User_Password").removeAttr("required");

            $("#userModal").modal("show");
            if (notifications === 'true') {
                $("#User_WhatsAppNotifications").prop("checked", "checked");
            } else {
                $("#User_WhatsAppNotifications").removeAttr("checked");
            }
        }
    </script>
}